/* .container{
    display: flex;
    flex-wrap: wrap;
}
.vcd-box {
   
    width: 20rem;
    margin:5px;
    padding: 9px;
    border-color:rgb(75, 186, 190);
    background-color:antiquewhite ;
  }
   */